:root {
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

body {
    min-height: 100vh;  /* it can grow when needed*/
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper {
    width: 700px;
    max-width: 100%; 
    /* ! on smaller devices the width will be 100% and on bigger devices it can still be 700px  */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todoInput {
    box-sizing: border-box;  /* total size stays consistant even when adding padding or borders */
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit; /* inherit all font settings previously defined*/ 
    color: var(--text-color);
    caret-color: var(--accent-color);  /* cursor color*/
}