:root {
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

body {
    min-height: 100vh;  /* it can grow when needed*/
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper {
    width: 700px;
    max-width: 100%; 
    /* ! on smaller devices the width will be 100% and on bigger devices it can still be 700px  */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todoInput {
    box-sizing: border-box;  /* total size stays consistant even when adding padding or borders */
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit; /* inherit all font settings previously defined in html*/ 
    color: var(--text-color);
    caret-color: var(--accent-color);  /* cursor color*/
}

#todoInput:focus {
    outline: none;
}

form {
    position: relative;
}

#addBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;  /* 0 padding intentionaly*/ 
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-text {
    padding: 15px;  /*! we want the text to set the height of the todo that's why todo had padding of 0*/ 
    padding-right: 0;
    flex-grow: 1;   /* this will always push the delete btn to the further left regardless of the todo text*/ 

}

.delete-btn {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--secondary-color);
    transition: ease .2s;
}

.delete-btn:hover {
    color: #ff0033;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* pervent it from squeezing*/ 
}

.transparent-icon {
    color: transparent;
}

/* style the checkbox */
input[type="checkbox"]:checked ~ .custom-checkbox{  /*sibling selector ~*/
    background-color: var(--accent-color);

}